* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

.arsenal, .arena {
  padding: 20px 10px;
  display: flex;
  max-width: 80vw;
}

.arsenal__weapon {
  max-height: 100px;
  max-width: 100px;
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0;
  align-items: stretch;
  height: 100vh;
}

.change-game-btn {
  background-color: #CD82EF;
  text-transform: uppercase;gs
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C56AF0;
  max-width: 80vw;
}

.message {
  margin: 0;
  padding: 5px;
}

.mode {
  margin: 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AA4AD9;
}

.mode__heading {
  margin: 0;
  padding-bottom: 5px;
}

.mode__rule {
  margin: 0;
}

.mode-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
}

.mode-section__reset-wins-button {
  background-color: gray;
}

.player {
  min-width: 20vw;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #CD82EF;
}

.player_human {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__avatar {
  margin: 0;
  font-size: 2em;
}

.player__type {
  margin: 0;
}

.player__wins {
  padding-top: 5px;
}

.title {
  margin: 0;
  padding: 20px;
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}
